<#= Converter.GetImports() #>

namespace <#= Converter.GetNamespace() #>
{
    public enum <#= Converter.GetClassName() #>
    {
        <#= Converter.GetEnumFields() #>
    }
}

<#@ template language="C#" debug="true"  #>
<#@ output extension=".cs" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ parameter name="Converter" type="Giny.ProtocolBuilder.Converters.EnumConverter" #>
